includes:
    - vendor/larastan/larastan/extension.neon

parameters:
    level: 4
    paths:
        - app/
        - routes/
    treatPhpDocTypesAsCertain: false
    ignoreErrors:
        - '#Variable \$scraper might not be defined#'